* {
  box-sizing: border-box;
}
ul,
dl,
dd,
dt,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
em,
i {
  font-style: normal;
}
#cityBox {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-family: 'microsoft yahei';
  position: relative;
}
#cityBox.active .cityText {
  border-bottom: 0;
  background-color: #393d49;
}
#cityBox.active .cityText.active .cityBtn {
  display: block;
}
#cityBox.active .cityText .content span {
  width: 70px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  background-color: #4f5563;
  margin-right: 6px;
  border-radius: 5px;
}
#cityBox.active .cityText .content span.active {
  display: block;
}
#cityBox.active .cityText .content i {
  display: block;
}
#cityBox.active .cityPanel {
  display: block;
}
#cityBox .cityText {
  width: 292px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #767d8f;
  padding-right: 10px;
  background-color: #4f5563;
  position: relative;
  cursor: pointer;
}
#cityBox .cityText.active .defaultTxt {
  display: none;
}
#cityBox .cityText .content {
  width: 100%;
  height: 100%;
  line-height: 24px;
  color: #fefffd;
  padding: 6px;
}
#cityBox .cityText .content span {
  display: none;
  padding: 0 6px;
  position: relative;
}
#cityBox .cityText .content span.active {
  display: inline-block;
}
#cityBox .cityText .content i {
  display: none;
  width: 15px;
  height: 15px;
  line-height: 13px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  background-color: #393d49;
  border: 1px solid #393d49;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#cityBox .cityText .content i:hover {
  border: 1px solid #767d8f;
}
#cityBox .cityText .icon-jiantou {
  color: #009687;
  position: absolute;
  right: 10px;
  top: 0;
}
#cityBox .cityText .icon-jiantou.active {
  display: block;
}
#cityBox .cityText .cityBtn {
  display: none;
  width: 44px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  background-color: #009687;
  border-radius: 3px;
  cursor: pointer;
  border: 0;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 7px;
}
#cityBox .cityPanel {
  display: none;
  width: 292px;
  height: 387px;
  color: #fff;
  font-size: 14px;
  background-color: #4f5563;
  border: 1px solid #767d8f;
  border-top: 0;
  position: absolute;
}
#cityBox .cityPanel .cityTop {
  height: 41px;
  border-bottom: 1px solid #767d8f;
}
#cityBox .cityPanel .cityTop ul {
  height: 40px;
  line-height: 39px;
  float: left;
  margin-left: -1px;
}
#cityBox .cityPanel .cityTop ul li {
  width: 70px;
  text-align: center;
  float: left;
  border-top: 1px solid #4f5563;
  cursor: pointer;
}
#cityBox .cityPanel .cityTop ul li.active {
  height: 41px;
  background-color: #4f5563;
  border: 1px solid #767d8f;
  border-bottom: 0;
}
#cityBox .cityPanel .defaultBtn {
  width: 50px;
  height: 24px;
  background-color: #009687;
  text-align: center;
  float: right;
  line-height: 24px;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 9px;
  cursor: pointer;
}
#cityBox .citysContent {
  padding-top: 13px;
}
#cityBox .citysContent .selBox {
  display: none;
  font-size: 12px;
}
#cityBox .citysContent .selBox.active {
  display: block;
}
#cityBox .citysContent .noData {
  display: none;
  padding-left: 10px;
  color: #ccc;
}
#cityBox .citysContent .noData.active {
  display: block;
}
#cityBox .citysContent .citysBox,
#cityBox .citysContent .countyBox {
  padding: 0 20px;
}
#cityBox .citysContent .sep {
  height: 8px;
}
#cityBox .citysContent dl {
  width: 100%;
  height: 26px;
}
#cityBox .citysContent dd {
  height: 26px;
  line-height: 26px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
}
#cityBox .citysContent dd:last-of-type {
  padding-right: 0;
}
#cityBox .citysContent dd:hover,
#cityBox .citysContent dd.active {
  color: #00baa9;
}
#cityBox .citysContent dt {
  width: 42px;
  height: 26px;
  line-height: 26px;
  float: left;
  text-align: center;
}
